::-webkit-scrollbar { 
    display: none; 
}

main{
    overflow: scroll;
    scrollbar-width: none;  
}

#profile-section{
    display: flex;
    margin: 1rem;
}

#profile-img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-image: url("../images/pb.jpg");
    background-size: 100%;
    background-position: center;
}

#personal-info{
    display: inline-block;
    list-style: none;
    padding: 0 0 0 20px;
}

#personal-info li {
    margin-bottom: 10px;
}

#personal-info li p{
    margin: 0;
}

#name{
    font-size: 1.5rem;
}

#settings-section {
    padding: 1rem 2.5rem 1rem 2.5rem;
}

#settings-title {
    color: rgba(0,0,0,0.7);
    font-weight: 400;
    font-size: 0.915rem;
    margin: 0;
}

#settings-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.settings-li {
    border-bottom: solid rgba(0,0,0,0.27) 1px;
}

.settings-li:nth-last-child(1){
    border-bottom: none
}

.settings-link{
    color: #000;
    text-decoration: none;
    font-size: 1.1rem;
    padding: 10px 0;
}

.settings-link p{
    margin: 0;
    padding: 10px 0;
    
}

.settings-list-icon {
    color: rgba(0,0,0,0.47);
    position: relative;
    transition: 0.3s;
}

.settings-list-text {
    margin: 0 0 0 7px;
    position: relative;
}

.settings-list-icon.right {
    float: right;
}


/*HIDDEN CONTENT*/

.content-li{
    border: none;
    display: none;
    margin: 10px 0;
}

.content-box{
    width: 100%;
}

.content-list{
    list-style: none;
}

.payment-img{
    height: 20px;
    margin: 10px 0;
}

.pay-radio{
    float:right;
    margin-top:15px
}

.rotate{
    transform: rotate(180deg);
}

#reg-text {
    height: 20px;
    font-size: 0.9rem;
    box-shadow: 1px 1px 2px rgba(0,0,0, 0.1);
    border: none;
    border-radius: 3px;
    padding:0 0 0 10px;
}

#about-content, #car-content p{
    font-style: italic;
    font-size: 0.7 rem;
    color: rgba(0,0,0,0.9);
}