#profile-section{
    display: flex;
    margin: 1rem;
}

#profile-img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #666;
}

#personal-info{
    display: inline-block;
    list-style: none;
    padding: 0 0 0 20px;
}

#personal-info li {
    margin-bottom: 10px;
}

#personal-info li p{
    margin: 0;
}

#name{
    font-size: 1.5rem;
}

#settings-section {
    padding: 1rem 2.5rem 1rem 2.5rem;
}

#settings-title {
    color: rgba(0,0,0,0.7);
    font-weight: 400;
    font-size: 0.915rem;
    margin: 0;
}

#settings-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

#settings-list li a{
    color: #000;
    text-decoration: none;
    font-size: 1.1rem;
    padding: 20px 0;
}

#settings-list li a p{
    margin: 0;
}

.settings-list-icon {
    color: rgba(0,0,0,0.47);
    position: relative;
}

.settings-list-text {
    margin: 0 0 0 7px;
    position: relative;
}

.settings-list-icon.right {
    float: right;
}

